<%= form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Employee</legend>

    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :gender, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :gender, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :age, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :age, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :manager, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :manager, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :hr, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :hr, :class => 'check_box' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :source, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :source, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :organization_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :organization_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', employees_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
