<h1>Organizations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Employees</th>
      <th>Cases</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.id %></td>
        <td><%= link_to organization.name, organization_path(organization) %></td>
        <td><%= organization.created_at %></td>
        <td><%= organization.employees.count %></td>
        <td><%= organization.intakes.count %></td>
        <td>
          <%= link_to 'Edit', edit_organization_path(organization), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', organization_path(organization), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_organization_path, :class => 'btn btn-primary' %>
